* {
  font-family: "Agency FB", arial;
}

@media (min-width: 768px) {
  .Inicio-pc {
    display: block;
  }
}

@media (max-width: 767px) {
  .Inicio-cel {
    display: block;
  }
  #logo {
    height: 50px;
    width: 50px;
  }
}

section article div img {
  max-height: 25rem;
  max-width: 25rem;
  transition: 0.2s;
  border-radius: 8px;
}

section article div {
  text-align: center;
  cursor: pointer;
  background: #333;
}

section article div img {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px rgb(39, 39, 39), 0 0 10px rgb(49, 49, 49),
    0 0 20px rgb(32, 32, 32), 0 0 40px rgb(41, 41, 41), 0 0 80px rgb(32, 32, 32),
    0 0 90px rgb(24, 24, 24);
  transition: 0.1s;
  cursor: pointer;
}

section article div div:hover {
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px rgb(39, 39, 39), 0 0 10px rgb(49, 49, 49),
    0 0 20px rgb(32, 32, 32), 0 0 40px rgb(41, 41, 41), 0 0 80px rgb(32, 32, 32),
    0 0 90px rgb(24, 24, 24);
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
  transition: 200ms ease;
}

section article {
  margin-top: 2.5rem;
}

body {
  background: gray !important;
}

#header {
  background-color: #333 !important;
  box-shadow: 0px 0px 10px #000;
  position: fixed;
  z-index: 2;
  width: 100%;
  height: 90px;
  color: #fff;
  top: 0;
}

.nav-link {
  color: #fff !important;
  font-family: Agency FB !important;
  display: inline-block;
  margin: 0 50px;
  width: 100px;
  height: 70px;
  padding: 0 10px;
  line-height: 50px;
  font-size: 20px;
  transition: 0.1s;
  text-align: center;
}

.nav-link:hover {
  background: #333;
  color: #fff;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgb(235, 232, 70), 0 5px 5px 0px rgb(65, 64, 62);
}

#logo {
  color: #333;
  margin: 0 50px;
  border-radius: 50px;
}

#logo:hover {
  box-shadow: 0 0 5px rgb(235, 232, 70), 0 0 10px rgb(235, 230, 70),
    0 0 20px rgb(233, 228, 68), 0 0 40px;
}

footer {
  background: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  bottom: 0;
  width: 100%;
  justify-content: center;
}

footer a {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  margin: 0 5px;
  width: 50px;
  height: 50px;
  padding: 0 10px;
  background: #333;
  line-height: 50px;
  font-size: 18px;
  transition: 0.1s;
}

footer a:hover {
  color: #fff;
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 5px 5px 0px rgba(0, 0, 0, 0.4);
}

footer .facebook:hover {
  background: #3b5999;
  filter: none;
}

footer .instagram:hover {
  background: #c13584;
}
footer .whatsapp:hover {
  background: #25d366;
}

#copy {
  font-family: Agency FB !important;
  background: #333;
  width: auto;
  margin-bottom: auto;
  color: #fff;
  text-align: center;
  justify-content: center;
}

#copy p {
  padding: 10px;
}

.titulo {
  background-color: #333;
  cursor: pointer;
}

section h2 {
  color: white;
  text-align: center;
  display: block;
  padding: 2rem;
}

section article div {
  display: inline-block;
  color: white;
  align-content: space-around;
  text-align: center;
  padding: 2rem;
}

p{
  font-size: 18px;
  text-align: center;
}